wheel
streamlit
streamlit_tags
pymysql
plotly
# pafy
# youtube-dl
nltk
spacy==2.3.5
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz
pyresparser
pdfminer3
# git+https://github.com/Cupcakus/pafy